nav{
	position: sticky;
	background-color: rgba(75, 75, 75, 0.75);
	ul li{
	list-style: none;
	margin: 20px;
		a{
		color: #D9DDE4;
	    text-decoration: none;
	    font-size: 1.8rem;
	    background-image: linear-gradient(currentColor, currentColor);
	    background-position: 0% 100%;
	    background-repeat: no-repeat;
	    background-size: 0% 2%;
	    transition: background-size .3s;;
			
			&:hover{
			color: whitesmoke;
			font-weight: 600;
			background-size: 100% 2px;
			}
		}
	}
}




